<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <!--application = path to stylesheet-->
    <!--hash contains media type and use of turbolinks feature--> 
    <%= stylesheet_link_tag('application', { media: 'all', 'data-turbolinks-track': 'reload'} ) %>
    <%= javascript_include_tag('application', {'data-turbolinks-track': 'reload'}) %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
  
</html>